html, body, div, span, h2, h3, h4, p, a, label, br, form, input, img
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-weight:normal;
}
body {
	line-height: 1.2;
}
