html{
	background:#f7f7f7;
}
body
{	padding:20px;
	font-family:Arial;
	font-size:14px;
	background:white;
	color:#4F4C49;
	width:1000px;
	margin:auto;
	border-radius:20px;
	border:1px solid #5E5C5A;
}
h2{
	font-size:15px;
	text-align:center;
	font-weight:bold;
	
}
#generate_key{
	border:1px solid black;
	height:20px;
	width:280px;
	float:left;
}
input{
	margin-top:2px;
	padding:1px;
	padding-left:2px;
	height:30px;
	border:1px solid #e0e0e0;
	width:280px;
}
label{
	display:inline-block;
	padding-top:15px;
}
.button{
	background-color:#F6921B;
	height:35px;
	width:50px;
	color:white;
	border-radius:5px;
	font-size:15px;
}
.button:focus{
	outline:none;
}
.button:hover, .link_button:hover{
	cursor:pointer;
}
.link_button{
	background-color:#F6921B;
	color:white;
	text-decoration:none;
	padding:5px;
	border:1px solid #e0e0e0;
	border-radius:5px;
	margin:10px;
}
#creation_choose{
	clear:both;
	display:flex;
}
#creation,#choose_statistics{
	flex: 1;
	border:1px solid #e0e0e0;
	text-align:center;
	height:55px;
}
h4{
	padding-bottom:10px;
}
.error_message{
	color:red;
	
}
h3{
	text-align:center;
	clear:both;
	text-decoration:underline;
	font-size:15px;
	font-weight:bold;
}
#logout{
	float:right;
}
.title{
	font-size:15px;
	font-weight:bold;
}
